/* body ===================================================*/

body{
    width: 100%;
    background: #f0f2f5;
    margin: -5px;
}

img {
    width: 300px; 
    margin: -5px 30px -5px -5px;
}

/* ======================================================= */

.container{
    display: flex;
    flex-direction: column;
    height : 99vh;
    flex-wrap: nowrap;
    position: relative;
}
.container main{
   display: flex;
   flex: 4%; 
 }
.container footer{
    display: flex;
    background: white;
    flex: 1%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    white-space:wrap;
}
 main .box1{
    display: flex;
    flex: 1 50%;
    text-align: left;
    white-space: wrap;
} 
main .card {
    display: flex;
    flex: 1 50%;
    
}
 .box1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    white-space:nowrap;
    line-height: 1cm;
    font-family: Arial, Helvetica, sans-serif;
}  

.subbox{
    display: flex;
    flex:2 83%;
}
.subbox0{
    display: flex;
    flex:2 2%;
}
.box2{
        display: flex;
        flex:1 15%;
}
 .card{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif;
    
}
form{
    width: 385px;
    height: 360px;
    border-radius: 12px;
    background: white;
    box-shadow: 5px 5px 5px #e5e6e9;
    margin-top: 135px;
}  
.bottom{
    align-content: center;
    width: 1000px;
    margin:auto;
    font-size: 15px;
    text-align: left;
    margin-top: -5px;
    line-height: 0.5px;
    line-height: 0.5cm;
    word-spacing: 0.3cm;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    margin-top: -5px;
}

/* form =========================================================== */

#email{
    width: 332px;
    height: 50px;
    border-radius: 6px;
    margin: 15px 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    border: 1px solid #808080;

}

#password{
    width: 332px;
    height: 50px;
    border-radius: 6px;
    margin: 0px 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    border: 1px solid #808080;
}

.button1{
    width: 338px;
    height: 50px;
    background-color: #1877f2;
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    margin: 15px 22px;
    border: 1px solid #808080;
}

.button2{
    width: 150px;
    height: 50px;
    background: #42b72a;
    border-radius: 6px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 20px 120px;
    border: 1px solid gray;
}
.button3{
    width: 30px;
    color:black;
    background: #f5f6f7;
}
/* event click ====================================================== */
.a {
    margin: 5px 0px;
    color: #1877f4;
    text-align: center;
    margin-bottom: 15px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* =================================================================== */
.para3 {
     text-align: center;
     margin-bottom: 183px;
}
.para2{
    margin-bottom:-5px;
    margin-top:-5px;
}
.para10{
    padding-left: 25px;
    margin: -5px;
    margin-bottom: 350px;
}
.para9{
    padding-left: 25px;
    margin: -5px;
}

/* Responsive 1 ===================================================*/

@media only screen and (max-width: 1075px){
    .container .box1 {
        font-size: 26px;
        line-height: 2px;
        margin: -5px;
    }
    .container .box2{
        margin-left: 20px;
    }

    .para9{
       margin-bottom: 20px;
       white-space:pre-wrap;
       line-height: 0.8cm;
       margin-top: -5px;
    }
    .para10 p{
        display: inline;
        text-align:left;
    }
    img {
        width: 300px; 
        margin: -5px 30px 10px -5px;
    }
    .bottom{
        padding: 25px;
    }
     .container main{
        display: flex;
        flex: 4; 
      }
      footer{
          margin: -5px;
      }
      
    .para2{
        margin-right: 50px;
        white-space: wrap;
        margin-bottom: -5px;
        margin-top: -5px;
    }
}

/* Responsive 2 ===================================================*/

@media only screen and (max-width: 900px) {

    img {
        width: 300px; 
        margin-left: 50px;
    }

    .container{
        flex-direction: column;
        flex-wrap:nowrap;
    }
   
    .container main {
        flex: 4;
        display: flex;
        flex-flow: column;
      }
    .container footer{
       flex: 1;
    }
    
    .container .box0{
        display: flex;
        flex: 1 25%;
    }
    .container .box1{
        font-size: 26px;
        line-height: 2px;
        display: flex;
        text-align: center;
        flex: 1;
    }
    .container .box2 {
        display: flex;
        flex:2.0;
        align-items: center;
    }
 
    form{
        margin: 54px -5px -5px;
    }
    .para10{
        margin-bottom: -5px;
        text-align: center;
        white-space: nowrap;
    }
    
    .para9{
        margin-left: -5px;
    }
    
    .para3{
        text-align: center;
        margin-left: 2px;
        margin-bottom: 90px;
        white-space: nowrap;
    }
    .subbox{
        display: flex;
        flex:1 50%;
    }

    .subbox0{
        display: flex;
        flex:1 50%;
    }

}